<div id="carrinho">
  <h2>Carrinho</h2>

  <div id="itens-carrinho">
    @for (item of listaCarrinho(); track item.produto.idproduto) {
      <div class="item-carrinho">
        <span class="dados-produtos">
          Id: {{ item.produto.idproduto }} | Nome: {{ item.produto.produto }} | Descrição:
          {{ item.produto.descricao_produto }} | Valor: {{ item.produto.valor_unitario }} | estoque:
          {{ item.produto.unidade }}
        </span>

        <div class="controle-quantidade">
          <label>Quantidade:</label>

          <input
            type="number"
            [value]="item.quantidade"
            min="1"
            [max]="item.produto.unidade"
            (change)="alterarQuantidade(item, $event)"
          />
        </div>

        <span class="links-lista">
          <a class="lnk-excluir" (click)="excluirProduto(item)"> Excluir </a>
        </span>
      </div>
    } @empty {
      <div class="div-item-produto">NENHUM PRODUTO NO CARRINHO</div>
    }
  </div>

  <div class="finalizar-pedido">
    <button type="button" class="btn-finalizar" (click)="finalizarPedido()">
      Finalizar Pedido
    </button>
  </div>
</div>
