<header class="header">
  <div class="logo">
    <a routerLink="/home">
      <h1>My <strong>Store</strong></h1>
    </a>
  </div>

  <nav class="nav">
    <ul>
      <li>
        <a routerLink="/listaproduto" class="linha-secao" class="link"> Produtos criados </a>
      </li>
      <li>
        <a routerLink="/pedido" class="PedidoProduto" class="link"> Pedidos </a>
      </li>
      <li>
        <a routerLink="/carrinho" class="link">
          <img src="icons/cart.png" alt="Carrinho" />
        </a>
      </li>
    </ul>
  </nav>
</header>
