.header {
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: var(--padding-m) var(--padding-s);
}

.logo {
  display: flex;
  align-items: center;
  border: 3px solid var(--color-secondary);
  border-radius: var(--border-radius-md);
  padding: var(--padding-xs);
}

.logo a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-b);
}

.nav ul {
  display: flex;
  gap: var(--gap-s);
  list-style: none;
  align-items: center;
}

.link {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-b);
}

.link:hover {
  color: var(--color-hover);
}
